.contact__container{
    padding: 4rem;
    background: #fff;
    text-align: center;
    font-size:250%;
}

.contact__container a{
    text-decoration: none;
}

.contact__link h1{
    padding:4rem;
    color: #fff;
    transition: all 0.05s ease-out;
}


.contact__link{
    background: #242424;
    border: 3px solid #fff;;
    box-shadow: 0 6px 20px rgba(56, 125, 255, 0.17);
    filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
    border-radius: 10px;
    transition: all 0.05s ease-out;
}

.contact__link:hover {
    background: #fff;
    border: 3px solid #242424;
  }

  .contact__link h1:hover{
    color:#242424;
  }